@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway&display=swap") format("woff2");
  unicode-range: U+0025-00FF;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond', serif;
  src: url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap") format("woff2");
  unicode-range: U+0025-00FF;
  font-display: swap;
}

* {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
  color: #2e2d2d;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.4;
  white-space: wrap;
  text-overflow: ellipsis;
  font-weight: lighter;
}

li {
  font-size: 1rem;
}

a {
  color: #2e2d2d;
  text-decoration: none;
}

a:visited,
a:active {
  color: inherit;
}

@-webkit-keyframes fading {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fading {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes transform-X {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes transform-X {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.header .header-image {
  max-width: 100vw;
  max-height: auto;
  position: relative;
}

.header .header-image__image {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.header .header-image__model-name {
  font-size: 3rem;
  font-weight: bolder;
  -webkit-transform: rotate(90deg) translate(-65%, -50%);
          transform: rotate(90deg) translate(-65%, -50%);
  position: relative;
  white-space: nowrap;
  letter-spacing: 2px;
  top: 0%;
  left: 30%;
}

.header .header-image__model-name--first {
  color: white;
}

.header .header-image__model-name--last {
  color: #fff06e;
}

@media only screen and (min-width: 768px) {
  .header {
    position: relative;
  }
  .header .header-image {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -1;
  }
  .header .header-image__image {
    width: 100vw;
    height: auto;
  }
  .header .header-image__model-name {
    font-size: 5rem;
    font-weight: bolder;
    position: absolute;
    top: 10%;
    left: 3%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    word-break: break-all;
    max-width: 100vw;
  }
  .header .header-image__model-name .header-image__model-name--first,
  .header .header-image__model-name .header-image__model-name--last {
    display: block;
  }
  .header .header-image__model-name .header-image__model-name--last {
    border-bottom: 5px solid #fff06e;
    width: 10rem;
  }
}

.lower-case-with-overline {
  text-decoration: overline;
}

.about-me {
  text-align: center;
  width: calc(100vw - 5%);
  margin: 0 auto;
}

.about-me__heading {
  margin: 1.5rem 0;
  font-weight: lighter;
}

.about-me__line {
  height: 1px;
  width: 2rem;
  margin: 0 auto;
  background-color: #2e2d2d;
}

.about-me__text {
  padding-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .about-me {
    margin-top: 100vh;
    padding-top: 1rem;
    background-color: white;
    width: 100vw;
  }
}

.model-info {
  position: relative;
  width: 100vw;
  height: auto;
}

.model-info .left,
.model-info .right {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  color: #2e2d2d;
  top: 50%;
  z-index: 10;
}

.model-info .left {
  left: 1.5%;
}

.model-info .right {
  right: 1.5%;
}

.model-info .slider-items {
  position: relative;
}

.model-info .slider-items .portfolio {
  background-color: #abaaaa;
  text-align: center;
}

.model-info .slider-items .portfolio__heading {
  color: white;
  padding: 2rem 0 3rem 0;
  font-weight: lighter;
}

.model-info .slider-items .portfolio__sizes {
  color: white;
}

.model-info .slider-items .portfolio__sizes li {
  margin: 0.5rem 0;
}

.model-info .slider-items .portfolio__instagram-icon .fab {
  font-size: 2rem;
  color: white;
  margin: 1.5rem 0;
}

.model-info .slider-items .slide {
  display: none;
  -webkit-animation: fading 0.7s linear none;
          animation: fading 0.7s linear none;
}

.model-info .slider-items .slide img,
.model-info .slider-items .slide .portfolio__sizes {
  display: block;
}

.model-info .slider-items .slide img {
  margin: 0 auto;
  max-width: 50%;
  max-height: 50%;
}

.model-info .slider-items .slide.active {
  display: block;
  position: relative;
  top: 0%;
  left: 0;
  z-index: 3;
}

@media only screen and (min-width: 765px) {
  .model-info::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: white;
  }
}

.inspiring {
  margin-top: 2rem;
}

.inspiring .image-with-quote {
  position: relative;
  width: 100vw;
  height: auto;
}

.inspiring .image-with-quote__image {
  max-width: 100%;
  max-height: 100%;
  -webkit-animation: transform-X 1s linear normal;
          animation: transform-X 1s linear normal;
}

.inspiring .image-with-quote__quote {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: right;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #abaaaa;
}

.inspiring .image-with-quote__quote p {
  display: block;
  letter-spacing: 1px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 0.9rem;
}

.inspiring .image-with-quote__quote p span {
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  font-size: 1rem;
}

.inspiring .image-with-quote__quote .quote-source {
  color: #fff06e;
  text-transform: initial;
}

@media only screen and (min-width: 768px) {
  .inspiring {
    margin-top: 0rem;
    padding-top: 2rem;
    background-color: white;
  }
}

.work-with-me {
  text-align: center;
  width: 100%;
  margin: -2rem auto 0rem auto;
  background-color: white;
}

.work-with-me__heading {
  margin: 1.5rem 0;
  font-weight: lighter;
  padding-top: 2rem;
}

.work-with-me__text {
  margin-top: 1rem;
  font-style: italic;
  line-height: 2;
}

.button {
  padding: .5rem 2rem;
  border-radius: 25px;
  background-color: transparent;
  text-transform: uppercase;
  margin: 2rem;
  outline: none;
  border: 2px solid #2e2d2d;
}

.footer {
  background-color: #5c5858;
}

.footer .social__heading {
  text-transform: capitalize;
  text-align: center;
  padding-top: 1rem;
  font-weight: lighter;
  color: white;
}

.footer .social__icons {
  margin: 2rem 0rem;
  text-align: center;
}

.footer .social__icons .icon {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  color: #5c5858;
  text-align: center;
}

.creator-info--index-page {
  text-align: center;
}

.creator-info--index-page p {
  font-size: 0.8rem;
  color: #abaaaa;
}

.creator-info--contact-page {
  text-align: center;
  background-color: #5c5858;
  padding: 0.5rem 0rem;
}

.creator-info--contact-page p {
  font-size: 0.8rem;
  color: #abaaaa;
}

.contact-me {
  position: relative;
  overflow: hidden;
}

.contact-me__image {
  position: relative;
}

.contact-me__image h2 {
  color: white;
  font-weight: lighter;
  position: absolute;
  letter-spacing: 2px;
  top: 5%;
  right: 10%;
  z-index: 2;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid white;
}

.contact-me__image figure {
  max-width: 100vh;
  max-height: 100vh;
}

.contact-me__image figure img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.contact-me__icons {
  position: absolute;
  top: 20%;
  left: 40%;
  font-size: 2rem;
}

.contact-me__icons .icon .fab {
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  color: #5c5858;
}

.contact-me__text {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.contact-me__text p {
  margin: 3rem 0;
  text-align: center;
}

.contact-me__text address {
  font-size: 1.5rem;
  font-weight: bolder;
  -webkit-text-decoration: italic;
          text-decoration: italic;
}

.contact-me__text address a {
  color: white;
}
/*# sourceMappingURL=style.css.map */