@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway&display=swap") format("woff2");
  unicode-range: U+0025-00FF;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond', serif;
  src: url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap") format("woff2");
  unicode-range: U+0025-00FF;
  font-display: swap;
}

* {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
  color: #2e2d2d;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.4;
  white-space: wrap;
  text-overflow: ellipsis;
  font-weight: lighter;
}

img {
  max-width: 100vw;
  max-height: auto;
}

li {
  font-size: 1rem;
}

a {
  color: #2e2d2d;
  text-decoration: none;
}

a:visited,
a:active {
  color: inherit;
}

.header .header-image {
  max-width: 100vw;
  max-height: auto;
  position: relative;
}

.header .header-image__image {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.header .header-image__model-name {
  font-size: 3rem;
  font-weight: bolder;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  white-space: nowrap;
  letter-spacing: 2px;
  top: 40%;
  right: -40%;
}

.header .header-image__model-name--first {
  color: white;
}

.header .header-image__model-name--last {
  color: #fff06e;
}

.lower-case-with-overline {
  text-decoration: overline;
}

.about-me {
  text-align: center;
  width: calc(100vw - 5%);
  margin: 0 auto;
}

.about-me__heading {
  margin: 1.5rem 0;
  font-weight: lighter;
}

.about-me__line {
  height: 1px;
  width: 2rem;
  margin: 0 auto;
  background-color: #2e2d2d;
}

.about-me__text {
  margin-top: 1rem;
}

.model-info {
  position: relative;
}

.model-info .left,
.model-info .right {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  color: white;
  top: 50%;
}

.model-info .left {
  left: 1.5%;
}

.model-info .right {
  right: 1.5%;
}

.model-info .portfolio {
  margin-top: 2rem;
  background-color: #abaaaa;
  text-align: center;
}

.model-info .portfolio__heading {
  color: white;
  padding: 2rem 0 3rem 0;
  font-weight: lighter;
}

.model-info .portfolio__sizes {
  color: white;
}

.model-info .portfolio__sizes li {
  margin: 0.5rem 0;
}

.model-info .portfolio__instagram-icon .fab {
  font-size: 2rem;
  color: white;
  margin: 1rem 0;
}

.model-info .model-image {
  display: none;
}

.inspiring .image-with-quote {
  position: relative;
}

.inspiring .image-with-quote__quote {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: right;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #abaaaa;
}

.inspiring .image-with-quote__quote p {
  display: block;
  letter-spacing: 1px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 0.9rem;
}

.inspiring .image-with-quote__quote p span {
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  font-size: 1rem;
}

.inspiring .image-with-quote__quote .quote-source {
  color: #fff06e;
  text-transform: initial;
}

.work-with-me {
  text-align: center;
  width: 100%;
  margin: -2rem auto 0rem auto;
}

.work-with-me__heading {
  margin: 1.5rem 0;
  font-weight: lighter;
  padding-top: 2rem;
}

.work-with-me__text {
  margin-top: 1rem;
  font-style: italic;
  line-height: 2;
}

.button {
  padding: .5rem 2rem;
  border-radius: 25px;
  background-color: transparent;
  text-transform: uppercase;
  margin: 2rem;
  outline: none;
  border: 2px solid #2e2d2d;
}

.footer {
  background-color: #5c5858;
}

.footer .social__heading {
  text-transform: capitalize;
  text-align: center;
  padding-top: 1rem;
  font-weight: lighter;
  color: white;
}

.footer .social__icons {
  margin: 2rem 0rem;
  text-align: center;
}

.footer .social__icons .icon {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  color: #5c5858;
  text-align: center;
}

.footer .creator-info {
  text-align: center;
}

.footer .creator-info p {
  font-size: 0.8rem;
  color: #abaaaa;
}
/*# sourceMappingURL=style.css.map */