.inspiring {

    .image-with-quote {

        position: relative;
        width: 100vw;
        height: auto;

        &__image {
            max-width: 100%;
            max-height: 100%;
        }

        &__quote {
            position: absolute;
            bottom: 5%;
            right: 5%;
            text-align: right;
            color: $color-white;
            text-transform: uppercase;
            text-shadow: 2px 2px 2px $color-grey;
            
           

           p{
               display: block;
               letter-spacing: 1px;
               font-family: 'Cormorant Garamond', serif;
               font-size: 0.9rem;
               
               span{
                   text-transform: uppercase;
                   font-weight: 600;
                   font-style: italic;
                   font-size: 1rem;
                   
               }
           }

           .quote-source{
               color: $color-yellow;
               text-transform: initial;
           }
        }
    }
}