.contact-me {

    position: relative;
    overflow: hidden;
    &__image {

        position: relative;


        h2{
            color: $color-white;
            font-weight: lighter;
            position: absolute;
            letter-spacing: 2px;
            top: 5%;
            right: 10%;
            z-index: 2;
            padding-bottom: 0.5rem;
            border-bottom: 3px solid $color-white;
        }


        figure {

            max-width: 100vh;
            max-height: 100vh;

            img {

                object-fit: contain;
           
                filter: grayscale(100%);   

            }
        }
    }

    &__icons {

        position: absolute;
        top: 20%;
        left: 40%;
        font-size: 2rem;

        .icon{
            
            .fab{
                padding: 0.5rem;
                border-radius: 50%;
                background-color: $color-white;
                color: $color-dark-grey;
            }
        }
        
    }

    &__text{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;
        

        p{
            margin: 3rem 0;
            text-align: center;
            
           
        }

        address{
            font-size: 1.5rem;
            font-weight: bolder;
            text-decoration: italic;
           
            a{
                color: $color-white;
            }
        }
    }
}