.button{
    padding: .5rem 2rem;
    border-radius: 25px;
    background-color: transparent;
    text-transform: uppercase;
    margin: 2rem;
    outline: none;
    border: 2px solid $color-white;
    color: $color-white;
}