.creator-info--index-page{
    text-align: center;
    
    p{
        font-size: 0.8rem;
        color: $color-grey;
    }
}

.creator-info--contact-page{
    text-align: center;
    background-color: $color-dark-grey;
    padding: 0.5rem 0rem;
    
    p{
        font-size: 0.8rem;
        color: $color-grey;
    }

}