$color-white: white;
$color-yellow: rgb(255,240,110);
$color-black: rgb(46, 45, 45);
$color-grey: rgb(171,170,170);
$color-dark-grey: rgb(92, 88, 88);
$color-light-blue: rgba(12,227,217, 1);
$color-blue: rgba(49,129,219,0.8);